<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Contacto</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
</head>
<body>
  <header class="site-header">
    <div class="brand">Ositos Lusito</div>
    <nav class="main-nav">
    <a href="../index.html">Inicio</a>
    <a href="galeria.html">Galería</a>
    <a href="presupuesto.html">Presupuesto</a>
    <a href="contacto.html">Contacto</a>
  </nav>
  </header>

  <main>
    <h2>Contacto</h2>
    <div id="map" style="height: 400px;"></div>
    <p>Dirección: Puerta del Sol, Madrid</p>
  </main>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="../js/map.js" defer></script>
</body>
</html>